.databoard {
	width: 100%;
	height: 320px;
	margin-top: 10px;
}

 /* 先把模块的边框画出来 */
.databoard > .centerbox > .lt-data,
.databoard > .centerbox > .rt-data {
	width: 48%;
	height: 316px;
    border: 2px #1179D1 solid;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(17, 121, 209, 0.8);
    text-align: center;
}


/* 然后再把左边的表头信息弄好 */
.databoard > .centerbox > .lt-data > ul {
	display: flex;
    width: 100%;
	height: 36px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
	justify-content: center;
	border-bottom: 1px rgba(0, 0, 0, 0.082) solid;
}
.databoard > .centerbox >  .lt-data > ul > li {
    display: inline-block;
    padding: 10px;
}
/* 先把这个链接设为不可点击,以后若有需要再扩展这个功能 */
.databoard > .centerbox > .lt-data > ul > li > a{
    pointer-events: none;   
}
.databoard > .centerbox > .lt-data > ul > li > a > span:nth-child(1) {
	display: inline-block;
	width: 14px;
	height: 14px;
    border: 2px #1179D1 solid;
    background-color: #1177d1af;
	border-radius: 100%;
	vertical-align: -3px;
}
.databoard > .centerbox > .lt-data > ul > li > a > span:nth-child(2) {
	display: inline-block;
    padding: 0px 5px;
}



/* 暂时不管输入框，设计发车时间与下车时间两个输入框所在的盒子 */
.databoard  > .centerbox > .lt-data > div {
	display: flex;
    width: 80%;
	height: 40px;
    margin: 20px auto;
    justify-content: space-between;
}
.databoard  > .centerbox > .lt-data > div > input {
	width: 48%;
	height: 40px;
    
    border-radius: 5px;
	border: 1px rgb(230, 230, 230) solid;
    
    margin: 0 auto;
    padding: 5px;
}




/* 由于html文档里面的databord模块包含了较多的input输入框,因此集中放在后面处理 */
/* 此时使用伪类选择器,指定具体的元素 */
.databoard  > .centerbox > .lt-data > input:nth-child(2),
.databoard  > .centerbox > .lt-data > input:nth-child(4){
    display: flex;
    width:  80%;
    height: 40px;

    margin: 20px auto;
    padding: 5px;

    border-radius: 5px;
	border: 1px rgb(230, 230, 230) solid;

    justify-content: space-between;
}
/* 这是最后一行的按钮"查询您的行程",也是一个输入框,属于input-submit类型 */
.databoard  > .centerbox > .lt-data > input:last-child {
	width: 80%;
	height: 40px;
    
    border-radius: 20px;
	border: 0;
    
    margin: 20px auto;

    background-color: #1179D1;
    color: azure;
   
    font-size: 16px;
	font-weight: 600;
}



/* 完成左边的表头信息之后,再弄右边的数据表 */
.databoard > .centerbox > .rt-data {
	padding: 0px 25px;
}
.databoard  > .centerbox > .rt-data > h1 {
    padding: 5px;
	font-size: 20px;
	font-weight: bold;
}
.databoard > .centerbox > .rt-data > p:first-of-type {
    padding: 5px;
	color: #555555;
	font-size: 13px;
}
.databoard > .centerbox > .rt-data > ul:first-of-type {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 5px;
}
.databoard > .centerbox >  .rt-data > ul:first-of-type > li {
	width: 21%;
	height: 70px;
	margin-bottom: 10px;
}
.databoard > .centerbox >  .rt-data > ul:first-of-type > li > span {
	display: block;

	font-size: 24px;
	font-weight: 700;
	text-align: center;
}

/* 伪类:first-of-type选中第一组兄弟元素的第一个(针对元素而非节点) */
.databoard > .centerbox >  .rt-data > ul:first-of-type > li:nth-child(1) > span:first-of-type {
	color: #e22b00;
}
.databoard > .centerbox >  .rt-data > ul:first-of-type > li:nth-child(2) > span:first-of-type {
	color: #5bae69;
}
.databoard > .centerbox >  .rt-data > ul:first-of-type > li:nth-child(3) > span:first-of-type {
	color: #f99b26;
}
.databoard  > .centerbox > .rt-data > ul:first-of-type > li:nth-child(4) > span:first-of-type {
	color: #999999;
}
.databoard  > .centerbox > .rt-data > ul:first-of-type > li:nth-child(5) > span:first-of-type {
	color: #f4603d;
}
.databoard > .centerbox >  .rt-data > ul:first-of-type > li:nth-child(6) > span:first-of-type {
	color: #f4603d;
}
.databoard  > .centerbox > .rt-data > ul:first-of-type > li:nth-child(7) > span:first-of-type {
	color: #f99b26;
}
.databoard  > .centerbox > .rt-data > ul:first-of-type > li:nth-child(8) > span:first-of-type {
	color: #873781;
}


/* 每个数据子模块下方的描述文本 */
.databoard  > .centerbox > .rt-data > ul:first-of-type > li > p:first-of-type {
	font-size: 13px;
	text-align: center;
	color: #333333;
}
.databoard  > .centerbox > .rt-data > ul:first-of-type > li > p:last-child {
	font-size: 13px;
	text-align: center;
	color: #999999;
}


.databoard  > .centerbox > .rt-data > ul > li:nth-child(1) > p > span {
	color: #e22b00;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(2) > p > span {
	color: #5bae69;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(3) > p > span {
	color: #f99b26;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(4) > p > span {
	color: #999999;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(5) > p > span {
	color: #f4603d;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(6) > p > span {
	color: #f4603d;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(7) > p > span {
	color: #f99b26;
}
.databoard > .centerbox >  .rt-data > ul > li:nth-child(8) > p > span {
	color: #873781;
}


.databoard > .centerbox >  .rt-data > ul:last-of-type {
	display: flex;
	justify-content: space-between;
}
.databoard  > .centerbox >  .rt-data > ul:last-of-type > li {
	width: 100px;
	height: 70px;
}
.databoard > .centerbox >  .rt-data > ul:last-of-type > li > a {
	width: 100%;
	height: 100%;
	display: block;
}
.databoard > .centerbox >  .rt-data > ul:last-of-type > li > a  > span {
	display: block;
	text-align: center;
	font-size: 35px !important;
}
.databoard > .centerbox >  .rt-date > ul:last-of-type > li > a > p {
	text-align:center;
	font-size: 13px;
	color: #555555;
	margin-top:5px;
}
