.head { 
	width: 100%;
	height: 80px;
	position: relative;
	border-bottom: 1px solid rgb(239, 239, 239);
}




/* head-first部分 */
.head-first {
	width: 20%;
}
.head-first  >  a {
	display: block;
	width: 100%;
	height: 100%;
}
.head-first  >  a  >  img {
	width: 100px;
	height: 55px;
	margin-top: 12px;
}




/* head-second部分 */
.head-second {
	width: 40%;
	margin-left: 0px;
	display: flex;
	align-items: center;
}
.head-second > li{
	margin-right:40px;
}
.head-second > li > a {
	color: rgb(51, 51, 51);
	font-size: 16px;
	font-weight:bold;
}
.head-second > li > a:hover {
	color: rgb(0, 140, 255);
}







/* head-third部分 */
.head-third {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.head-third > li:first-child {
	width: 150px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 20px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}
.head-third > li:first-child > img {
	width: 17px;
	height: 14px;
	margin-left: 0;
}
.head-third  >  li:first-child  >  input {
	border-radius: 20px;
	border: 0;
	padding-left: 10px;
	width: 75%;
}
.header-top-third-ul {
	position: absolute;
	right: 0px;
	top: 33px;
	display: none;
}
.header-top-third-ul > li {
	width: 20px;
	border: 1px #8A8A8A solid;
	margin-bottom: 5px;
}





/* header-top-fourth部分 */
.header-top-fourth {
	position: absolute;
	top: 80px;
	left: 0;
	background-color: #fff;
	width: 100%;
	box-shadow: 1px 5px 10px -5px #00000050;
	z-index: 1000;
	display: none;
}
.header-top-fourth > ul {
	padding-top: 10px;
	width: 90%;
	margin: 0 auto;
}
.header-top-fourth > ul > li {
	margin-bottom: 5px;
}
.header-top-fourth > ul > li > a {
	color: #595959;
	font-size: 12px;
}
.header-top-fourth > ul > li > a:hover {
	color: #F97816;
}