.hero{
    width: 100%;
    height: 165px;
}

.hero > span{
    padding: 5px;
    margin: 5px 0px;
    display: block;

    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.hero > .centerbox > ul{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.hero > .centerbox > ul > li{
    display: inline-block;
    width: 12%;
}

.hero > .centerbox > ul > li > img{
    width: 100%;
    height: 150px;

    border: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(17, 119, 209, 0.445);
}

.hero > .centerbox > ul > li > div > a{
    font-size: 13px;
}